
@font-face { font-family: Helvetica_Neue; font-weight:100; src: url('fonts/helvetica-neue/Helvetica Neue LT 35 Thin.ttf');}
@font-face { font-family: Helvetica_Neue; font-weight:200; src: url('fonts/helvetica-neue/Helvetica Neue LT 45 Light.ttf'); }
@font-face { font-family: Helvetica_Neue; font-weight:300; src: url('fonts/helvetica-neue/Helvetica Neue LT 55 Roman.ttf'); }
@font-face { font-family: Helvetica_Neue; font-weight:400; src: url('fonts/helvetica-neue/Helvetica Neue LT 65 Medium.ttf'); }
@font-face { font-family: Helvetica_Neue; font-weight:500; src: url('fonts/helvetica-neue/Helvetica Neue LT 75 Bold.ttf'); }

* {
  margin: 0px;
  padding: 0px;
  /*border: 1px dotted rgba(255,0,0,0.5);*/
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #2C2C2C;
  font-family: Helvetica_Neue;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

.overlay {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: #302c2c;
  position: fixed;
  z-index: 3;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #e89c2c;
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #e89c2c;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(180deg);}
  50% {transform: rotate(180deg);}
  75% {transform: rotate(360deg);}
  100% {transform: rotate(360deg);}
}

@keyframes loader-inner {
  0% {height: 0%;}
  25% {height: 0%;}
  50% {height: 100%;}
  75% {height: 100%;}
  100% {height: 0%;}
}


/* Header
=================*/

header {
  height: 200px;
}

.sidenav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  visibility: hidden;
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 0;
  top: 0;
  right: 0;
  background-color: #D9D9D9;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}


.top_menu {
  display: flex;
  justify-content:  space-between;
  align-items: center;
  min-width: 770px;
  height: 41px;
  margin: 0px 18% 0px 19%;
}

.contact_info {
  display: flex;
}

.contact_info div {
  display:flex;
  align-items: center;
}

.contact_info div img {
  height: 13px;
}

.top_menu_social_media {
  display:flex;
  width: 6%;
  justify-content: space-between;
}

.top_menu_social_media img {
  height: 20px;
  margin: 0px 5px;
}

.top_menu_social_media img:hover {
  filter: brightness(0) saturate(100%) invert(98%) sepia(5%) saturate(151%) hue-rotate(166deg) brightness(116%) contrast(82%);
}

/*======================================*/

header hr {
  height: 1px;
  background-color: #696969;
  border: none;
}

/*======================================*/

.menu_header {
  display: flex;
  margin: 20px 6.5% 20px 3%;
  justify-content: space-between;
  min-width: 800px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: static;
  width: 750px;
  margin: 0px 30px;
}

.menu > * {
  margin: 0px 10px;
}

.burger_menu {
  position: absolute;
  top: 36px;
  right: 22px;
  visibility: hidden;
}

h1 {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 300;
  border-bottom: 1px solid transparent;
}

p.selected_menu {
  font-size: 14px;
  font-weight: 300;
  border-bottom: 1px solid transparent;
  color: #BC8029;
  cursor: default;
}

h1:hover {
  border-bottom: 1px solid #BC8029;
}

h2 {
  color: #B9B9B9;
  font-size: 13px;
  font-weight: 300;
  margin-left: 12px;
  margin-right: 40px;
  white-space: nowrap;
}

h2:hover {
  color: #e8e8e8;
}

h3 a {
  color: #c98b2c;
  font-size: 13px;
  font-weight: 400;
  padding: 5px;
  margin-left: 5px;
  border: 2px solid #c98b2c;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}


/* Body
=================*/

.btn-scroll {
  width: 35px;
  height: 20px;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}


.front img {
  width: 100%;
  height: 879px;
  object-fit: cover;
  object-position: bottom;
}

.body_home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body_home .diensten {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.body_home h4 {
  color: #FFFFFF;
  font-size: 28px;
  font-weight: 300;
  margin: 70px 0px 100px 0px;
  cursor: default;
}

.body_home h5 {
  color: #FFFFFF;
  margin: 0px 0px 10px 0px;
  font-size: 20px;
  font-weight: 300;
  cursor: default;
}

.body_home > .diensten div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.body_home .diensten_block img {
  width: 308px;
  height: 308px;
  object-fit: cover;
  border-radius: 5px;
  margin: 0px 20px;
}

.body_home .diensten_block_side img {
  width: 260px;
  height: 260px;
  object-fit: cover;
  border-radius: 5px;
  margin: 0px 10px;
}



/* Home Realisaties
=================*/

.body_home .realisaties {
  background: transparent linear-gradient(180deg, #2C2C2C 0%, #8D8D8D 100%) 0% 0% no-repeat padding-box;
  width: 100%;
  margin: 200px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body_home .realisatie_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body_home #instafeed {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: -30px 0px 0px 0px;
  max-width: 1400px;
}

.body_home .insta_block {
  width: 438px;
  height: 438px;
  border-radius: 5px;
  margin: 10px;
  overflow: hidden;
  object-fit: cover;
  position: relative;
}

.body_home .insta_overlay {
  display: flex;
  position: absolute;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(25,15,0,0.9) 10%, rgba(255,255,255,0) 50%);
  padding: 10px;
  width: 100%;
  height: 100%;
}

.body_home .insta_profile {
  width: 50px;
  height: 50px;
}

.body_home .h13 {
  color: white;
  font-weight: 200;
  font-size: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 15px 0px 0px 20px;
  width: 300px;
}

.body_home .insta_post {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

.body_home .realisatie_container > img {
  width: 49.52px;
  height: 9.8px;
  margin: 63px 0px 257px 0px;
  filter: brightness(0) saturate(100%) invert(31%) sepia(0%) saturate(0%) hue-rotate(326deg) brightness(100%) contrast(88%);
}


/* Diensten
=================*/

.front_short img {
  width: 100%;
  height: 273px;
  object-fit: cover;
}

.front_short {
  height: 273px;
}

.front_hr {
  height: 4px;
  background-color: #2C2C2C;
  border: none;
}

.body_light {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D9D9D9;
}

.body_light h4 {
  color: #1F1F1F;
  font-size: 28px;
  font-weight: 400;
  margin: 90px 0px 90px 0px;
  cursor: default;
}

.body_light .diensten {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0px 0px 284px 0px;
}

.body_light .diensten_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 30px 0px;
}

.body_light h5 {
  color: #1F1F1F;
  font-size: 20px;
  font-weight:300;
  margin: 0px 0px 10px 0px;
  max-width: 305px;
  text-align: center;
  cursor: default;
}

.body_light .diensten_block img {
  width: 308px;
  height: 308px;
  object-fit: cover;
  border-radius: 5px;
  margin: 0px 20px;
}

.body_home > .diensten div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.body_home .diensten_block img {
  width: 308px;
  height: 308px;
  object-fit: cover;
  border-radius: 5px;
  margin: 0px 20px;
}

.body_home .diensten_block_side img {
  width: 260px;
  height: 260px;
  object-fit: cover;
  border-radius: 5px;
  margin: 0px 10px;
}


/* Realisaties
=================*/

.body_light .realisatie_container {
  width: 100%;
  margin: 20px 0px 180px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body_light #instafeed {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 50px 0px 0px 0px;
  max-width: 1400px;
}

.body_light .insta_block {
  width: 438px;
  height: 438px;
  border-radius: 5px;
  margin: 10px;
  overflow: hidden;
  object-fit: cover;
  position: relative;
}

.body_light .insta_overlay {
  display: flex;
  position: absolute;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(25,15,0,0.9) 10%, rgba(255,255,255,0) 50%);
  padding: 15px 20px;
  width: 100%;
  height: 100%;
}

.body_light .insta_profile {
  width: 50px;
  height: 50px;
}

.body_light .h13 {
  color: white;
  font-weight: 200;
  font-size: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 15px 0px 0px 20px;
  width: 300px;
}

.body_light .insta_post {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

.body_light .realisatie_container > img {
  width: 49.52px;
  height: 6.05px;
  margin: 25px 0px 0px 0px;
}


/* Over ons
=================*/

.over_ons {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: 0px 10px 200px 10px;
}

.h12 {
  color: #1F1F1F;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  line-height: 130%;
  max-width: 500px;
}

.over_ons_image {
  width: 100vw;
  height: 800px;
}

.over_ons_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 100px 0px 0px 0px;
}


/* Contact
=================*/

.body_light .contact {
  display: flex;
  margin: 30px 50px 300px 50px;
}

p.h9 {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  margin: 0px 0px 20px 0px;
}

p.h10 {
  font-size: 15px;
  font-weight: 200;
  color: #000000;
}

.body_light .contact > div > hr {
  height: 1px;
  background-color: #191F21;
  border: none;
  margin: 32px 0px;
}

.body_light .contact > div > img {
  width: 100%;
  height: 797px;
  object-fit: cover;
  margin: 0px 0px 0px 85px;
}

.body_light .contact_image {
  width: 30vw;
}


/*  REMOVE BELOW ONCE FORM WORKS:  */
.contact_form {
  visibility: hidden;
}



form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  font-weight: 400;
  color: #1F1F1F;
  margin: 14px 0px 5px 0px;
}

input {
  height: 33px;
  background-color: #939393;
  padding: 0px 0px 0px 10px;
  font-family: Helvetica_Neue;
  font-size: 14px;
  font-weight: 300;
  border: none;
}

textarea {
  height: 215px;
  background-color: #939393;
  padding: 7px 0px 0px 10px;
  font-family: Helvetica_Neue;
  font-size: 14px;
  font-weight: 300;
  border: none;
  resize: none;
}

input.submit_button {
  width: 100px;
  margin: 20px 0px;
  padding: 0px;
  border-radius: 10px;
  background-color: #7E7E7E;
  font-weight: 400;
  align-self: flex-end;
}


/* Footer
=================*/

footer {}

.main_footer {
  display: flex;
  margin: 38px 0px 50px 18%;
}

.footer_column {
  display: flex;
  flex-direction: column;
  margin: 130px 190px 0px 0px;
}

.footer_column img {
  width: 180px;
  margin: -128px 0px 34px -50px
}

h6 {
  color: #B5B5B5;
  font-size: 13px;
  font-weight: 100;
  line-height: 21px;
  cursor: default;
}

h6 a {
  color: #B5B5B5;
  text-decoration: none;
}

h6 a:hover {
  text-decoration: underline;
}

p.h7 {
  color: #BC8029;
  font-size: 20px;
  font-weight: 400;
  margin: -37px 0px 32px 0px;
  cursor: default;
}

p.h8 {
  color: #B5B5B5;
  font-size: 12px;
  font-weight: 200;
  margin: 35px 0px 35px 18%;
  cursor: default;
}

footer hr {
  height: 1px;
  width: 100%;
  background-color: #696969;
  border: none;
}

@media only screen and (max-width: 1650px) and (min-width:1000px) {

  .body_home .diensten_block_side img {
    width: 210px;
    height: 210px;
    border-radius: 5px;
    margin: 0px 5px;
  }

  .body_home .diensten_block img {
    width: 258px;
    height: 258px;
    border-radius: 5px;
    margin: 0px 10px;
  }

}


@media only screen and (max-width: 1000px) {

  header {
    height: 90px;
  }

  .sidenav {
    visibility: visible;
    z-index: 1;
    position: fixed;
    padding-top: 15px;
  }

  .sidenav > div {
    margin: 94px 0px 0px 0px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .sidenav a.mobile_menu {
    margin: 0px 32px 15px 20px;
    text-decoration: none;
    font-size: 15px;
    color: #2C2C2C;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover.mobile_menu {
    text-decoration: underline;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 11px;
    right: 18px;
    font-size: 50px;
    margin: 0px 0px 0px 50px;
  }

  .mobile_menu_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 10vh 0px;
  }

  .mobile_contact_info {
    margin: 10vh 38px 0px 43px;
  }

  .mobile_contact_info div {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
  }

  .mobile_contact_info div img {
  margin: 0px 11px 0px 0px;
  }

  p.h11 {
    font-size: 13px;
    font-weight: 300;
    color: #4A4A4A;
  }

  .mobile_social_media {
    display: flex;
    justify-content: center;
    width: 200px;
  }

  .mobile_social_media img {
    width: 25px;
    height: 25px;
    margin: 50px 10px;
  }


  .top_menu {
    visibility: hidden;
    margin: 0px;
    min-width: 0px;
    width: 0px;
    height: 0px;
  }

  header hr {
    visibility: hidden;
  }

  .menu_header {
    margin: 13px 10px 0px 16px;
    min-width: 0px;
  }

  .menu {
    position: absolute;
    width: 0px;
    margin: 0px;
    visibility: hidden;
  }

  .burger_menu {
    visibility: visible;
    cursor: pointer;
    height: 22px;
  }

  .menu_header a img {
    width: 130px;
  }

/*======================================*/

  .btn-scroll {
    visibility: hidden;
  }

  .front img {
    width: 100%;
    height: 144px;
  }

  .body_home h4 {
    font-size: 15px;
    margin: 30px 0px 50px 0px;
  }

  .body_home h5 {
    font-size: 2vw;
    margin: 10px 0px 0px 0px;
  }

  .body_home .diensten {
    flex-wrap: wrap;
    margin: 0px 10px;
    }

  .body_home .diensten_block img {
    width: 30vw;
    height: 30vw;
    margin: 10px 5px 10px 5px;
  }

  .body_home .diensten_block_side img {
    width: 30vw;
    height: 30vw;
    margin: 10px 5px 10px 5px;
  }

/*======================================*/

  .body_home .realisaties {
    width: 100%;
    margin: 60px 0px 0px 0px;
  }

  .body_home #instafeed {
    justify-content: center;
  }

  .body_home .insta_block {
    width: 90vw;
    height: 90vw;
    max-width: 500px;
    max-height: 500px;
    border-radius: 10px;
    margin: 10px 0px;
  }


  .body_home .insta_profile {
    width: 50px;
    height: 50px;
  }

/*======================================*/

  .front_short img {
    width: 100%;
    height: 124px;
    object-fit: cover;
  }

  .front_short {
    height: 124px;
  }

  .body_light h4 {
    font-size: 25px;
  }

/*======================================*/

  .body_light .diensten {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0px 0px 284px 0px;
  }

  .body_light .diensten_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 30px 0px;
  }

  .body_light h5 {
    font-size: 14px;
    max-width: 148px;
  }

  .body_light .diensten_block img {
    width: 150px;
    height: 150px;
  }

/*======================================*/

  .body_light #instafeed {
    justify-content: center;
  }

  .body_light .insta_block {
    width: 90vw;
    height: 90vw;
    max-width: 500px;
    max-height: 500px;
    border-radius: 10px;
    margin: 10px 0px;
  }


  .body_light .insta_profile {
    width: 50px;
    height: 50px;
  }

  .body_light .realisatie_container > img {
    width: 60px;
    height: 7.33px;
  }

/*======================================*/

  .h12 {
    margin: 20px;
  }


/*======================================*/

  .contact_image {
    visibility: hidden;
  }

/*======================================*/

  footer {}

  .main_footer {
    flex-direction: column;
    align-items: flex-start;
  }

}
